.app-name {
    text-transform:uppercase;
    
}
.budgie-logo {
    width: 65px;
    height: 65px;
    border: 1px;
    border-radius: 35px;
}
.name-grn, .nav-btn {
    color:#beee3a;
    font: bold;
}
.nav-link, .nav-btn {
    font-weight: 700;
    color:#beee3a;
    font: bold;
    text-decoration: none;
}
.navbar-toggler {
    border-color: rgb(22, 21, 22);
    color: rgb(22, 21, 22);
}
/*burger menu - mobile*/
.fa-navicon {
    color:rgb(17, 16, 16);
    font-size:28px;
}
.app-name {
    text-transform:uppercase;
    
}
.brian-img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 45%;
}
/*set default color variables for use throughout app*/
:root {
    --defaultRed: #b80c09;
    --defaultBlue: #05668d;
    --defaultGreen: #317b22;
    --defaultWhite: #f5f5f5f5;
    --defaultDark: #333333;
}
body {
    background: var(--defaultWhite);
    color: var(--defaultDark);
}
.budget-input-form {
    border: 0.15rem solid var(--defaultGreen);
    padding: 1rem;
    border-radius: 0.25rem;
}
.budget-submit-btn {
    background: transparent;
    border: 0.1rem solid var(--defaultGreen);
    color: var(--defaultGreen);
}
.budget-submit-btn:hover {
    background: var(--defaultGreen);
    color: var(--defaultWhite);
}
/*prevent alert boxes displaying by default*/
.budget-feedback-success,
.budget-feedback-failed,
.expense-feedback-failed,
.expense-feedback-success {
  display: none;
}
.budget-input {
border: 0.05rem solid var(--defaultGreen) !important;
}
.expense-input {
border: 0.05rem solid var(--defaultRed) !important;
}
.expense-form {
    border: 0.15rem solid var(--defaultRed);
    padding: 1rem;
    border-radius: 0.25rem;
}
.expense-submit {
    background: transparent;
    border: 0.1rem solid var(--defaultRed);
    color: var(--defaultRed);
}
.expense-submit:hover {
    background: var(--defaultRed);
    color: var(--defaultWhite);
}
.total-expense-amount,
.expense-title {
color: var(--defaultRed);
}
.edit-icon {
color: var(--defaultWhite);
cursor: pointer;
font-size: 1rem;  
text-decoration: none !important;
}
.delete-icon {
color: var(--defaultWhite);
cursor: pointer;
font-size: 1rem;  
text-decoration: none !important;
}
.edit-icon:hover {
color: var(--defaultWhite);
}
.delete-icon:hover {
    color: var(--defaultWhite);
}
.showItem {
display: block;
}
.info-title {
font-size: 2rem;
}
.budget {
font-size: 2rem;
color: var(--defaultGreen);
}
.expense {
font-size: 2rem; /*might be casuing bug*/
color: var(--defaultRed);
}
.balance {
font-size: 2rem;
}
.budget-icon,
.expense-icon,
.balance-icon {
  font-size: 2.5rem;
  color: var(--defaultBlue);
}
.showRed {
    color: var(--defaultRed);
}
.showGreen {
    color: var(--defaultGreen);
}
.showBlack {
    color: var(--defaultDark);
}
/*List items*/
.list-item {
    flex: 0 0 33.33%;
    text-align: center;
}
.percentage {
    font-size: 1rem;
    flex: 0 0;
    text-align: center;
}
.expense-item {
height: 2rem;
}

/*set media queries*/
@media screen and (max-width: 992px) {
    .brian-img {
        display: none;
    }
}
@media screen and (min-width: 992px) {

    .budget {
        font-size: 2.6rem;
        color: var(--defaultGreen);
    }
    .expense {
        font-size: 2.6rem;
        color: var(--defaultRed);
    }
    .balance {
        font-size: 2.6rem;
    }
    .budget-icon,
    .expense-icon,
    .balance-icon {
        font-size: 2.6rem;
        color: var(--defaultBlue);
    }  
}
@media screen and (min-width: 1200px) {
    .budget {
      font-size: 3rem;
      color: var(--defaultGreen);
    }
    .expense {
      font-size: 3rem;
      color: var(--defaultRed);
    }
    .balance {
      font-size: 3rem;
    }
    .budget-icon,
    .expense-icon,
    .balance-icon {
      font-size: 3rem;
      color: var(--defaultBlue);
    }
}